body {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

html {
	scroll-behavior: smooth;
}

h1 {
    font-size: 40;
    color: white;
    margin-left: 1%;
    font-family: "Calibri";
}

.center {
  margin: auto;
  margin-top: 10%;
  width: 50%;
  border: 5px solid ;
  padding: 10px;
  text-align: center;
  z-index: 1;
}

#section1 {
  height: 600px;
  background-color: lightblue;
}

@media only screen and (max-width: 550px) {

}
