body {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

.menu {
	display: inline;
	position: fixed;
	right: 40px;
	top: 10px;
}

.menu-item {
	right: 20px;
	height: 80px;
	width: 150px;
	display: inline-block;
	text-align: center;
	white-space: nowrap;
}

.vert_bar {
	margin-top: 30px;
	display: inline-block;
	margin-left: auto;
  	margin-right: auto;
  	width: 100%;
	height: 100px;
	position: absolute;
	background-color: white;
	z-index: 1;
	text-align: center;
}

.vert_bar h1 {
	color: rgb(105, 105, 105);
	text-decoration: none;
	position: relative;
	font-size: 48px;
	bottom: 25px;
}

.bar {
	margin-left: auto;
  	margin-right: auto;
  	width: 100%;
	height: 100px;
	position: absolute;
	background-color: white;
	z-index: 1;
	text-align: center;
}

.bar h1 {
	color: rgb(105, 105, 105);
	text-decoration: none;
	position: relative;
	display: inline;
	font-size: 48px;
	bottom: 25px;
}

h1 {
	text-align: center;
	font-size: 70px;
	margin-top: -40px;
}

h2 {
	font-size: 50px;
}

.title {
	margin-left: 150px; 
	margin-top: -50px;
	text-align: center;
}

.bar-item {
	height: 80px;
	width: 150px;
	display: inline-block;
	text-align: center;
	white-space: nowrap;
}

a .bar-icon {
	height: 80px;
	-webkit-transition: all 0.5s ease; /* Safari and Chrome */
    -moz-transition: all 0.5s ease; /* Firefox */
    -ms-transition: all 0.5s ease; /* IE 9 */
    -o-transition: all 0.5s ease; /* Opera */
	transition: all 0.5s ease;
}

a .bar-icon:hover {
    -webkit-transform: scale(1.25) rotate(360deg); /* Safari and Chrome */
    -moz-transform:  scale(1.25) rotate(360deg); /* Firefox */
    -ms-transform:  scale(1.25) rotate(360deg); /* IE 9 */
    -o-transform:  scale(1.25) rotate(360deg); /* Opera */
  transform:  scale(1.25) rotate(360deg);
  opacity: 0.5;
}

a + h3 {
	color: rgb(85, 85, 85);
	text-decoration: none;
	font-size: 28px;
	opacity: 0;
	position: absolute;
	display: inline-flex;
	pointer-events: none;
}

a:hover + h3 {
	opacity: 1;
}

a {
	text-decoration-line: none;
}

.flip-icon {
	height: 80px;
	transition: transform 1.0s;
	-webkit-transition: all 0.5s ease; /* Safari and Chrome */
    -moz-transition: all 0.5s ease; /* Firefox */
    -ms-transition: all 0.5s ease; /* IE 9 */
    -o-transition: all 0.5s ease; /* Opera */
	transition: all 0.5s ease;
}

.flip-icon:hover {
  -webkit-transform: scale(1.25) rotate(360deg); /* Safari and Chrome */
    -moz-transform:  scale(1.25) rotate(360deg); /* Firefox */
    -ms-transform:  scale(1.25) rotate(360deg); /* IE 9 */
    -o-transform:  scale(1.25) rotate(360deg); /* Opera */
  transform:  scale(1.25) rotate(360deg);
  opacity: 0.5;
}

.hs {
	z-index: 20;
	height: 120px;
	width: 225px;
	margin-left: 40px;
	margin-top: 40px;
}

.hs-icon {
	z-index: 21;
	height: 120px;
	-webkit-transition: all 0.3s ease; /* Safari and Chrome */
    -moz-transition: all 0.3s ease; /* Firefox */
    -ms-transition: all 0.3s ease; /* IE 9 */
    -o-transition: all 0.3s ease; /* Opera */
	transition: all 0.3s ease;
}

.hs-icon:hover {
  -webkit-transform: scale(1.4); /* Safari and Chrome */
    -moz-transform:  scale(1.4); /* Firefox */
    -ms-transform:  scale(1.4); /* IE 9 */
    -o-transform:  scale(1.4); /* Opera */
  transform:  scale(1.4);
}

p {
	font-size: 28px;
	margin-left: auto;
  	margin-right: auto;
  	width: 70%;
}

.cvlink {
	font-size: 28px;
	margin-left: auto;
  	margin-right: auto;
  	width: 70%;
  	text-align: center;
}